{% extends "base.html" %}

{% block content %}
<section class="hero">
    <div class="hero-content">
        <h1>Welkom bij Hong Fa</h1>
        <p>Authentieke Chinese gerechten voor iedere smaak</p>            
        <a href="#order" class="cta-button">Bestel nu!</a>
    </div>
</section>

<section class="food-preview">
    <div class="food-description">
        <h2>Onze Specialiteiten!</h2>
        <p>Proef onze specialiteiten: de populairste en meest geliefde Chinese gerechten, bereid met authentieke smaken die je keer op keer laten terugkomen.</p>
    </div>
    <div class="food-image">
        <img src="/static/images/babipangang.jpeg" alt="Delicious Chinese Food">
    </div>
</section>
{% endblock %}